<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="CocCoc_Check">
    <classes>
      <class name="CCBrowser_Windows.CocCoc_CheckInstall"/>
      <class name="CCBrowser_Windows.CocCoc_Omahacheck"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->